* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  line-height: 1.4; }

.heading-primary {
  font-size: 6rem;
  color: #fff;
  text-align: center; }

.heading-secondary {
  font-size: 4rem;
  color: #182427;
  text-align: center; }

.heading-tertiary {
  font-size: 2.5rem;
  color: #182427;
  font-weight: 400; }

.para-primary {
  font-size: 1.7rem;
  color: #182427;
  font-weight: 500; }

.number {
  font-size: 13rem;
  color: #CFFF04;
  margin-bottom: -6.5rem; }

.btn {
  display: inline-block;
  padding: 2rem 5rem;
  text-decoration: none;
  font-size: 1.7rem;
  border-radius: 5rem;
  font-weight: 600;
  margin-top: 4rem; }
  .btn-box {
    text-align: center; }
  .btn:link, .btn:visited {
    color: #182427;
    background-color: #ffa502;
    transition: all 0.3s; }
  .btn:hover, .btn:active {
    background-color: #fff; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  width: 120rem;
  margin: 0 auto; }

.section-hero {
  height: 93vh; }

.hero {
  height: 95vh;
  background: url(../img/hero.jpg), rgba(0, 0, 0, 0.484);
  background-blend-mode: color;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1; }
  .hero__box {
    height: 100%;
    width: 100%;
    flex-direction: column;
    text-align: center; }

.section-exp {
  background-color: #F0EFEF;
  padding: 8rem; }

.exp {
  width: 100%;
  background-color: #fff;
  margin-top: -15rem;
  padding: 9rem;
  border-radius: 4.2rem; }
  .exp_img-box {
    width: 100%;
    display: flex;
    margin-top: 4rem;
    padding: 0 12rem; }
    .exp_img-box-div {
      padding: 1rem; }
      .exp_img-box-div--2 {
        margin-top: 5rem; }
  .exp_img {
    display: block;
    width: 95%;
    border-radius: 2rem; }

.intro {
  padding-bottom: 2rem; }
  .intro_img-box {
    height: 70rem;
    width: 100%; }
  .intro-img {
    height: 100%;
    width: 100%;
    display: block; }
  .intro_text-box {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    margin-bottom: 6rem; }
    .intro_text-box div {
      padding: 4rem; }
    .intro_text-box-item {
      width: calc(100% /3);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .intro_text-box-item h2 {
        margin-bottom: 2rem;
        font-size: 3rem; }

.section-hiw {
  padding: 6rem 0; }

.hiw {
  background-color: #fff;
  border-radius: 2rem;
  width: 100%;
  padding: 6rem; }
  .hiw__heading {
    margin-bottom: 6rem;
    text-align: center; }
    .hiw__heading h2 {
      margin-bottom: 2rem; }
  .hiw__z-pattern {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem; }

.z__img {
  display: block;
  width: 100%;
  border-radius: 2rem; }

.z__text-box {
  align-self: center; }
  .z__text-box h3,
  .z__text-box p {
    margin-left: 3rem; }

.z__img-box {
  width: 100%;
  display: grid;
  gap: 2rem;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); }
  .z__img-box--01--img-3 {
    grid-column: 2;
    grid-row: 1 / 3; }
  .z__img-box--02--img-1 {
    grid-column: 1;
    grid-row: 1 / 3; }
  .z__img-box--02--img-4 {
    grid-column: 3;
    grid-row: 1 / 3;
    align-self: center; }
  .z__img-box--03 {
    grid-template-rows: 1fr; }
    .z__img-box--03--img-2 {
      align-self: center; }

.u-center-text {
  text-align: center; }

.u-center-item {
  align-items: center; }

.u-margin-l-2 {
  margin-left: 2rem; }

.u-paddig-l-r-4 {
  padding-left: 4rem;
  padding-right: 4rem; }

.u-paddig-l-r-6 {
  padding-left: 6rem;
  padding-right: 6rem; }

.u-paddig-l-r-10 {
  padding-left: 10rem;
  padding-right: 10rem; }
