.container {
    width: 120rem;
    margin: 0 auto;
}

/////////////////////////////// SECTION HERO //////////////////////////////////
.section-hero {
    height: 93vh;
    //z-index: -1;
}

.hero {
    height: 95vh;
    background: url(../img/hero.jpg), rgba(0, 0, 0, 0.484);
    background-blend-mode: color;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;


    // &::before {
    //     background-color: rgba(0, 0, 0, 0.484);
    //     content: '';
    //     display: block;
    //     height: 100%;
    //     position: absolute;
    //     width: 100%;
    //     z-index: -1;
    // }



    &__box {
        height: 100%;
        width: 100%;
        flex-direction: column;
        text-align: center;

        // & a {
        //     z-index: 1;
        // }
    }

}


/////////////////////////////// SECTION EXPIRENCE //////////////////////////////////

.section-exp {
    background-color: $color-white-2;
    padding: 8rem;
}

.exp {
    background-color: $color-white;
    margin-top: -15rem;
    padding: 9rem;
    border-radius: 4.2rem;

    &_img-box {
        width: 100%;
        display: flex;
        //gap: 6rem;
        margin-top: 4rem;

        padding: 0 12rem;

        &-div {
            padding: 1rem;

            &--2 {
                margin-top: 5rem;
            }
        }


    }

    &_img {
        display: block;
        width: 95%;
        border-radius: 2rem;
    }
}

/////////////////////////////// SECTION INTRODUCTION //////////////////////////////////

//.section-intro {}

.intro {
    //width: 100vw;

    &_img-box {
        height: 70rem;
        width: 100%;
    }

    &-img {
        height: 100%;
        width: 100%;
        display: block;
    }

    &_text-box {
        display: flex;
        align-items: flex-start;
        gap: 4rem;
        margin-bottom: 6rem;
        //padding: 0 4rem;

        & div {
            padding: 4rem;
        }


        //display: flex;
        &-item {
            width: calc(100% /3);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            & h2 {
                margin-bottom: 2rem;
                font-size: 3rem;
            }
        }
    }
}


/////////////////////////////// SECTION HOW IT WORKS //////////////////////////////////

.section-hiw {
    margin-top: 12rem;
}

.hiw {

    &__heading {
        margin-bottom: 6rem;
        text-align: center;

        & h2 {
            margin-bottom: 2rem;
        }
    }

    &__z-pattern {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &--img-box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }
    }
}

.z {
    border-radius: 2rem;
    display: block;
    width: 100%;

    &__img-01 {}

}