.heading-primary {
    font-size: 6rem;
    color: $color-white;
    text-align: center;
}

.heading-secondary {
    font-size: 4rem;
    color: $color-text;
    text-align: center;
}

.heading-tertiary {
    font-size: 2.5rem;
    color: $color-text;
    font-weight: 400;
}

.heading-tertiary-2 {
    font-size: 2rem;
    color: $color-orange;
    font-weight: 600;
}

.para-primary {
    font-size: 1.7rem;
    color: $color-text;
    font-weight: 500;
    //padding: 0 15rem;
}

.para-secondary {
    font-size: 1.2rem;
    color: $color-text;
    //font-weight: 500;
    //padding: 0 15rem;
}

.para-tertiary {
    font-size: 1.6rem;
    color: $color-text;
    font-weight: 500;
    //padding: 0 15rem;
}

.number {
    font-size: 13rem;
    color: $color-number;
    margin-bottom: -6.5rem;
}