.heading-primary {
    font-size: 6rem;
    color: $color-white;
    text-align: center;
}

.heading-secondary {
    font-size: 4rem;
    color: $color-text;
    text-align: center;
}

.para-primary {
    font-size: 1.7rem;
    color: $color-text;
    font-weight: 500;
    //padding: 0 15rem;
}