.u-center-text {
    text-align: center;
}

.u-center-item {
    align-items: center;
}

.u-margin-l-2 {
    margin-left: 2rem;
}

.u-paddig-l-r-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.u-paddig-l-r-6 {
    padding-left: 6rem;
    padding-right: 6rem;
}

.u-paddig-l-r-10 {
    padding-left: 10rem;
    padding-right: 10rem;
}

.u-margin-top-4 {
    margin-top: 4rem;
}