.container {
    width: 120rem;
    margin: 0 auto;
}


.section-hero {
    height: 93vh;
    z-index: -1;
}

.hero {
    height: 95vh;
    background: url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -2;


    &::before {
        background-color: rgba(0, 0, 0, 0.484);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -1;
    }



    &__box {
        height: 100%;
        width: 100%;
        flex-direction: column;
        //z-index: 1;
        text-align: center;
    }

}

.section-exp {
    background-color: $color-white-2;
    padding: 8rem;
}

.exp {
    background-color: $color-white;
    margin-top: -15rem;
    padding: 9rem;
    border-radius: 4.2rem;

    &_img-box {
        width: 100%;
        display: flex;
        //gap: 6rem;
        margin-top: 4rem;

        padding: 0 12rem;

        &-div {
            padding: 1rem;

            &--2 {
                margin-top: 5rem;
            }
        }


    }

    &_img {
        display: block;
        width: 95%;
        border-radius: 2rem;
    }
}