$color-white: #fff;
$color-white-2: #F0EFEF;


$color-text: #182427;

$color-heading: #FFBC8D;
$color-orange: #ffa502;

$colo-hover: #182427;

$color-number: #CFFF04;


// margin

$margin-top-small: 4rem;